:root {
    --backgound: #AFD3E2;
    --margin: #19A7CE;
    --extraColor: #146C94;
    --extraColor2: #F6F1F1;
}

body{
    background-color: var(--backgound);
}
.grid {
    padding: 15px;
    background-color: var(--extraColor);
}

.gridOne>section{
    display: grid;
    grid-template-columns: 300px 300px 600px;
    justify-content: center;
}
.gridOne {
    display: grid;
    grid-template-columns: auto;
    padding: 20px 0px 20px 300px;
    justify-content: center;
}
.onda1 {
    height: 586px;
    width: auto;
}
.onda2, .onda4, .onda8 {
    width: auto;
    height: 500px; 
}

.gridTwo {
    display: grid;
    grid-template-columns: 400px 420px 0px;
    padding: 20px;
}
.gridTwo img {
    width: auto;
    height: 280px;
}

.gridThree {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    justify-content: center;
}
.gridThree>section{
    display: grid;
    grid-template-columns: 30px 388px;
    justify-content: space-between
}
.onda7{
    height: auto;
    width: 600;
}
.gridThree>section>img {
    width: auto;
    height: 450px;
}
